.box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-position: outside;
  list-style-type: decimal;
  padding-left: 20px;
}

.text {
  font-weight: 500;
}