{
  "trailingComma": "none",
  "tabWidth": 2,
  "useTabs": true,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "singleAttributePerLine": true,
  "printWidth": 100,
  "proseWrap": "always",
  "bracketSpacing": true,
  "importOrder": [
    "<THIRD_PART_MODULES>",
    "^@/app/(.*)$",
    "^@/pages/(.*)$",
    "^@/widgets/(.*)$",
    "^@/features/(.*)$",
    "^@/entities/(.*)$",
    "^@/shared/(.*)$",
    "^@icons/(.*)$",
    "^(?!.*\\.scss$)(../.*)$",
    "^(?!.*\\.scss$)(./.*)$",
    ".*\\.scss$",
    "^(?!.*\\.css)(../.*)$",
    "^(?!.*\\.css)(./.*)$",
    ".*\\.css"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ]
}
