.dropdown {
  width: 100%;
}

.wrapper {
  max-height: 0;
  overflow: hidden;
  transition: .6s all linear;

  .content {
    padding: 20px 0;
  }

  &.opened {
    max-height: 3000px;
  }

}

.button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.25rem;
  border-bottom: 1px solid rgb(200, 200, 200);
  color: #212529;

  svg {
    transition: .4s all ease-in-out;
  }

  &.opened {
    border-bottom: 1px solid transparent;
    color: #0c63e4;
    background-color: #e7f1ff;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);

    svg {
      transform: rotate(180deg);
    }
  }
}

.clear {
  padding: 10px 0;
  border: 0;

  &.opened {
    background-color: transparent;
  }



}