// Segoe-UI

@font-face {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 700;
  src:('shared/fonts/Segoe-UI/Segoe-UI-bold.ttf')
}

@font-face {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  src:('shared/fonts/Segoe-UI/Segoe-UI-regular.ttf')
}

@font-face {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 300;
  src:('shared/fonts/Segoe-UI/Segoe-UI-light.ttf')
}