@use 'reset';
@use 'variables';
@use 'fonts';


body {
  font-family: 'Segoe UI', sans-serif;
  font-weight: 400;
  font-size: var(--font-nm);
  background-color: var(--white);
  color: var(--primary-text);
  overflow-x: hidden;
}

button {
  line-height: 1;
}

a {
  color: var(--primary-text);
}

h3 {
  font-size: var(--font-xl);
}

h1,
h2, h3, h4, h5 {
  font-weight: 700;
}

.modal-container{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.px-3 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}
.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.rounded-3 {
    border-radius: .3rem !important;
}

.text-center {
    text-align: center !important;
}
.p-5 {
    padding: 3rem !important;
}
.m-5 {
    margin: 3rem !important;
}
.border-danger {
    border-color: #dc3545 !important;
}
.shadow {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}
.fade {
    transition: opacity .15s linear;
}

.bg-white {
    --bs-bg-opacity: 1;
    background-color: white !important;
}