:root {
  --white: #fff;
  --primary-text:#212529;
  --color-1:#F64300;
  --color-2:#0a58ca;

  --font-sm:14px;
  --font-nm:16px;
  --font-md:20px;
  --font-lg: 24px;
  --font-xl: 32px;

  --background-gradient: linear-gradient(270deg, #00a2ff, #005bff);
}
