.wrapper {
  position: relative;
}

.input {
  width: 200px;
}

.list {
  padding: 10px;
  position: absolute;
  bottom: 1px;
  left: 0;
  right: 0;
  background-color: var(--white);
  transform: translateY(100%);
  border-radius: 0 0 10px 10px;
}

.button {
  margin-top: 6px;
  color: var(--primary-text);
}

.item {
  color: var(--primary-text);
  font-size: var(--font-sm);
  display: flex;
  justify-content: space-between;
  align-items: center;
}